
$primary_color: #F01111;
$secondary_color: whitesmoke;
$tertiary_color: lightgray;
$primary_text_color: #FFFFFF;

$site_full_width: 1920px;
$site_full_height: 1080px;

$primary_font_stack: Arial, Helvetica, sans-serif;
$cursive_font_stack: cursive;

$title_font_size: 42px;
$navigation_font_size: 24px;

$primary_font_color: black;