@import '_variables.scss';

.header {
    width: $site_full_width;
    height: 120px;
    background-color: $primary_color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-container {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
.login {
    font-family: $primary_font_stack;
    color: $primary_text_color;
    font-size: 24px;
}